@using UniversityManagementSystemVersion2.Models.ViewModels

@{
    ViewBag.Title = "All Students";
    ViewBag.ViewStudentActive = "active";
    Layout = "~/Views/Shared/Admin_Master_Page.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-table"></i>
        <a href="@Url.Action("AdminIndex", "Home")">Admin</a>
    </li>
    <li class="breadcrumb-item active">All Students</li>
</ol>

<h3>View All Students</h3>
<p>View All Students of all department</p>
<hr />

<table class="table table-bordered" id="dataTable" style="width: 100%">
    <thead style="background-color: #004D40 !important; color: white">
        <tr>
            <td>SL</td>
            <td>RegNo</td>
            <td>Name</td>
            <td>Email</td>
            <td>Department</td>
            <td>Profile Picture</td>
            <td>View Details</td>
            <td>Update</td>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;

            foreach (StudentViewModel studentViewModel in ViewBag.Students)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@studentViewModel.RegNo</td>
                    <td>@studentViewModel.Name</td>
                    <td>@studentViewModel.Email</td>
                    <td>@studentViewModel.DepartmentName</td>
                    <td align="center"><img style="border-radius: 50%" src="@studentViewModel.ProfilePicture" height="50px" width="50px" /></td>
                    <td>@Html.ActionLink("Details", "ViewStudentDetails", new { id = studentViewModel.Id })</td>
                    <td>@Html.ActionLink("Update", "UpdateStudentInformation", new { id = studentViewModel.Id })</td>
                </tr>
            }
        }
    </tbody>
</table>

<hr/>

